.api-box {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.item-card {
  padding: .5rem;
  margin-bottom: .5rem;
  background-color: white;
  border-radius: 1rem;
  color: black;
  text-align: center;
}

@media (max-width: 768px) {
  .item-card {
    font-size: 1rem;
    padding: 1rem;
  }
}