.weather-app {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 5vh;
}

.weather-app__title {
  font-size: 2rem;
  margin-bottom: 2vh;
}

.weather-app__form {
  margin-bottom: 2vh;
}

.weather-app__input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 200px;
  margin-right: 1rem;
}

.weather-app__button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.weather-app__button--refresh {
  background-color: #f0f0f0;
}

.weather-app__loading {
  color: #333;
  margin-top: 1vh;
  font-style: italic;
}

.weather-app__error {
  color: red;
  margin-top: 1vh;
}

.weather-app__info {
  margin-top: 2vh;
  font-size: 1.2rem;
}
