.boton {
  background-color: lightcoral;
  color: black;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton--activo {
  background-color: lightgreen;
}
