body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.app {
  max-width: 800px;
  margin: 1rem ;
  background: lightblue;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

h1 {
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  
}

.formulario input {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(187, 202, 183);
  color: black;
}


button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.lista-productos {
  list-style: none;
  padding: 0;
}

.tarjeta-producto {
  background: gray;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.acciones {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.error {
  color: red;
  text-align: center;
}
